.navbar {
    margin: 0 auto;
    color: white;
    height: 40px;
}

.col-md-12 {
    background-color: black;
}

.links {
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    list-style: none;
}

h6 {
    font-size: small;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.enq {
    background-color: #f3f3f3;
    padding-top: 5px;
    margin-left: 5px;
}

.srch {
    width: 40%;
    float: right;
    clear: right;
    margin-top: -5%;
    margin-right: 26%;

}

.search-box {
    width: 100%;
    position: relative;
    display: flex;
}

.search {
    width: 100%;
    border: 3px solid ;
    border-right: none;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9dbfaf;

}

.search:focus {
    color: black;
    box-shadow: 0 0 5px ;
}

.search-btn {
    width: 40px;
    height: 36px;
    border: 1px solid #FE0000;
    background: #FE0000;
    border-radius: 0;
}

.cart {
    float: right;
    clear: right;
    margin-top: -5%;
    margin-right: 14%;
    background-color: #FE0000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.cart:hover {
    scale: 1.05;
    color: #fff;
}

.cart:active {
    scale: 0.95;
}

.fav {
    float: right;
    clear: right;
    margin-top: -5%;
    margin-right: 20%;
    background-color: #F3F3F3;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.fav:hover {
    scale: 1.05;
    color: #fff;
}

.fav:active {
    scale: 0.95;
}

.footer-logo-wrap {
	border-bottom: 1px dashed #e1e1e1;
	
}
.footer-logo img{
	width: 35%;
}
.footer-static-middle{
	background: #a59f9f;
	padding: 30px;
}
.footer-static-middle .footer-logo p.info {
	margin: 20px 0 25px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}
.footer-static-middle .des > li {
	color: #ffffff;
	font-size: 14px;
	margin: 0;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 15px;
}
.footer-static-middle ul.des > li span {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
}
/*Footer Block*/
.footer-block > h3 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	color: #ffffff;
	margin: 0 0 15px 0;
	cursor: pointer;
	padding-top: 20px;
	text-transform: capitalize;
}
.footer-block > ul > li {
	display: block;
	margin: 0;
	line-height: 32px;
	border: 0;
	padding: 0;
}
.footer-block > ul > li > a {
	font-size: 14px;
	color: #ffffff;
	line-height: 36px;
	display: block;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.footer-block > ul > li > a:hover {
	color: #ffffff;
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}
/*Social Link*/
.social-link {
	line-height: 30px;
	margin-bottom: 40px;
	margin-top: 25px;
}
.social-link > li {
	display: inline-block !important;
	transition: all 0.3s ease-in-out;
	float: left;
	margin-right: 12px !important;
}
.social-link > li > a {
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	text-align: center;
}
.social-link > li > a > i {
	font-size: 18px;
	color: #fff;
}
.social-link > li:hover > a {
	background: #fed700 ;
}
/*Social Link Color Variations*/
.twitter {
	background: #40c1df;
}
.rss {
	background: #eb8314;
}
.google-plus {
	background: #ed3c32;
}
.facebook {
	background: #3c5b9b;
}
.youtube {
	background: #c72982;
}
.instagram {
	background: #c619b8;
}
/*Footer Newsletter*/
.footer-newsletter {
	float: left;
	width: 100%;
}
.footer-newsletter > h4 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	color: #ffffff;
	margin: 25px 0 25px 0;
	margin-top: 30%;
	cursor: pointer;
	text-transform: capitalize;
}
.footer-newsletter .form-group {
	position: relative;
	float: left;
	width: 100%;
}
.footer-newsletter .form-group input {
	background: transparent;
	border: 1px solid #e1e1e1;
	padding: 0 135px 0 10px;
	color: #ffffff;
	position: absolute;
	right: 45%;
	top: 5px;
}
.footer-newsletter .form-group .btn {
	position: absolute;
	right: 5%;
	background: #fed700;
	border: none;
	color: #ffffff;
	height: 35px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding: 0 28px;
	display: block;
	line-height: 29px;
	top: 0;
	transition: all 0.5s ease-in-out;
}
.footer-newsletter .form-group .btn:hover {
	background: #333333;
	color: #ffffff;
}
/*Footer Static Bottom*/
.footer-links {
	padding: 0 40px 20px;
}
.footer-links > ul {
text-align: center;
}
.footer-links > ul > li {
	display: inline-block;
	position: relative;
}
.footer-links > ul > li > a {
	color: #888;
	line-height: 24px;
	letter-spacing: 0.3px;
}
.footer-links > ul > li::after {
	content: "/";
	color: #888;
}
.footer-links > ul > li > a:hover {
	color: #242424;
	text-decoration: underline;
}
